:root {
	--bg1start: rgb(140, 50, 0);
	--bg1stop: rgb(255, 130, 4);
	--bg2start: rgb(2, 11, 90);
	--bg2stop: rgb(55, 72, 147);
	--bg3start: rgb(130, 209, 60, 0.95);
	--bg3stop: rgb(175, 250, 100, 0.95);
	--buttonText: white;
	--popupText: black;
	--bgHint: rgb(170, 255, 255);
	--text: white;
}