:root {
	--bg1start: rgb(25, 50, 100);
	--bg1stop: rgb(70, 138, 180);
	--bg2start: rgb(210, 140, 20);
	--bg2stop: rgb(255, 220, 70);
	--buttonText: black;
}

.highlightColor {
	color: var(--bg2start);
}