:root {
	--bg1start: rgb(80, 0, 75);
	--bg1stop: rgb(255, 4, 250);
	--bg2start: rgb(150, 160, 0);
	--bg2stop: rgb(210, 225, 20);
	--bg3start: rgba(209, 130, 60, 0.95);
	--bg3stop: rgba(250, 175, 100, 0.95);
	--bgText: rgba(0, 255, 255, 0.13);
	--buttonText: rgb(0, 0, 0);
	--popupText: rgb(0, 0, 0);
	--bgHint: rgb(255, 190, 40);
	--text: rgb(255, 255, 255);
	--navigation: rgb(255, 255, 255);
}
