:root {
	--bg1start: rgb(0, 0, 0);
	--bg1stop: rgb(80, 80, 80);
	--bg2start: rgb(180, 150, 0);
	--bg2stop: rgb(255, 217, 45);
	--buttonText: black;
	--bgHint: rgb(255, 190, 40);
}

.highlightColor {
	color: var(--bg2stop);
}