* {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

ul li,
ol li {
	margin-left: 1.85em;
	text-align: left;
}

ul li {
	list-style-type: circle;
}

.mainBG {
	background: radial-gradient(ellipse at 40% 35%, var(--bg1stop) 0%, var(--bg1start) 130%);
	background-size: 100% 100%;
}

.bgColor {
	background: linear-gradient(var(--bg2stop) 0%, var(--bg2start) 100%) center center / 100% no-repeat;
}

a.bgColor:hover {
	background: var(--bg2stop);
}

.selectable {
	user-select: all;
}

select,
textarea,
input {
	appearance: none;
	position: relative;
	font-size: 1em;
	font-weight: normal;
	width: 100%;
	outline: none !important;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	height: 2em;
	padding: 0em 0.75em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	vertical-align: top;
	border: none;
	color: black;
}

input-checkbox,
button-text {
	outline: none !important;
	appearance: none !important;
}

input,
textarea {
	user-select: text;
}

textarea {
	height: 5em;
	padding-top: 0.5em;
	overflow-y: auto;
	resize: none;
}

label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: left;
	width: auto;
	padding: 0.34em 1.25em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	margin-bottom: 0.5em;
	left: -0.25em;
	opacity: 0.8;
	background: rgba(255, 255, 255, 0.85);
	border-radius: 0.5em;
	transition: all .4s;
}

label>img {
	height: 3em;
	margin: -1em;
}

label:hover {
	opacity: 1;
}

field>label {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	padding: 1em 0 0 1em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-style: italic;
	background: transparent;
	margin: 0;
	left: 0;
	border-radius: 0;
	cursor: default;
	opacity: 0.7;
}

errorHint {
	text-align: center;
	position: relative;
	z-index: 0;
	display: block;
	line-height: 1.2;
	margin-top: 0.25em;
	padding: 0 0.5em;
}

explain {
	font-size: 0.8em;
	margin: 0.5em;
	display: block;
	line-height: 1.3;
	text-align: center;
	position: relative;
}

input-hashtags,
input-image {
	position: relative;
	display: block;
}

input-date {
	overflow-x: auto;
	max-width: 100%;
}

.hidden {
	display: none !important;
}

field {
	position: relative;
	width: 100%;
	display: block;
}

field value {
	text-align: left;
	position: relative;
	width: 100%;
	display: block;
	min-height: 2em;
}

field .checkbox {
	margin-bottom: -0.5em;
}

dialogButtons {
	text-align: center;
	white-space: nowrap;
	clear: both;
	position: relative;
	width: 100%;
	margin: 1em 0 0.5em 0;
	display: block;
}

badge {
	border-radius: 0.8em;
	position: absolute;
	bottom: 0.5em;
	text-align: center;
	z-index: 2;
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
	opacity: 0.9;
	left: 4.5em;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6;
}

badge img {
	height: 1.5em;
}

badge span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-weight: bold;
	height: 100%;
	line-height: 2.5em;
	color: var(--bg2stop);
}

km {
	position: relative;
}

km::after {
	content: 'KM';
	font-size: 0.5em;
}

buttonIcon {
	position: absolute;
	cursor: pointer;
	display: inline-flex;
	padding: 0.5em;
	text-align: center;
	z-index: 3;
	color: var(--text);
	border-radius: 50%;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.highlightColor {
	color: var(--bg2stop);
}

input-slider {
	position: relative;
	height: 1.85em;
	margin: 0 1.25em 1.85em 1.25em;
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	display: block;
}

tabHeader {
	height: 2em;
	line-height: 1.6;
	white-space: nowrap;
	display: block;
	margin: 0 0.5em;
}

.tabActive {
	opacity: 1;
}

tab {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 100%;
	opacity: 0.5;
	padding: 0;
	display: inline;
	cursor: pointer;
	position: relative;
	width: 33.3%;
	float: left;
	text-transform: lowercase;
	transition: all .4s;
}

tabBody {
	min-height: 3em;
	position: relative;
	width: 100%;
	display: block;
}

.animated {
	animation-duration: 0.5s;
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin: 70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes detailSlideOut {
	0% {
		transform: none;
	}

	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

.detailSlideOut {
	animation-name: detailSlideOut;
}

.detailSlideIn {
	transform: translate3d(100%, 0, 0);
}

@keyframes pulse_animation {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scale(1);
	}

	40% {
		transform: scale(1.08);
	}

	50% {
		transform: scale(1);
	}

	60% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.05);
	}

	80% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}

.chatLinks name {
	max-width: 4.8em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.chatLinks img,
.chatLinks svg {
	border-radius: 2.4em;
	height: 4.8em;
}

.chatLinks svg {
	padding: 0.75em;
	fill: var(--navigation);
}

.chatLinks.pressed::before {
	right: 0.4em;
	top: 0.5em;
}

.chatLinks.pressed::before {
	display: block;
	content: '✓';
	position: absolute;
	right: 0;
	top: 0;
	font-weight: bold;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.3);
}

.chatLinks {
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	margin: 0 0.5em;
	cursor: pointer;
	position: relative;
}