html {
	height: 100vh;
}

@font-face {
	font-family: 'Comfortaa';
	font-style: regular;
	font-weight: 400;
	src: url(../font/Comfortaa-Regular.ttf) format('truetype');
}

h1,
h2,
h3,
h4 {
	font-size: 1em;
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: normal;
}

body {
	position: fixed;
	width: 100%;
	height: 100%;
	color: var(--text);
	line-height: 1.5em;
	background: white;
	-webkit-text-size-adjust: none;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	overflow: hidden;
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-ms-overflow-style: none;
	touch-action: none;
	-ms-touch-action: none;
	background: linear-gradient(135deg, #fff, #fffaf7 10%, #fff3ea 20%, #f5f3f0 33%, #ddf3ff 66%, #d0f1c9) 50% fixed;
}

body.app {
	background: none;
}

main {
	bottom: 0;
	top: 0;
	position: absolute;
	left: 50%;
	overflow: hidden;
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
}

body.app>main {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: none;
}

body.app>main {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
}

body.app>main alert,
body.app>main content,
body.app>main dialog-hint,
body.app>main dialog-menu,
body.app>main dialog-popup,
body.app>main dialog-location-picker,
body.app>main marketing,
body.app>main progressbar {
	margin-top: constant(safe-area-inset-top);
	margin-top: env(safe-area-inset-top);
}

a {
	color: var(--bg2stop);
	cursor: pointer;
}

chat a {
	color: rgb(0, 0, 120);
}

dialog-navigation {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4em;
	width: 100%;
	z-index: 3;
}

add {
	display: none;
	bottom: 0;
	position: absolute;
	text-align: center;
	padding: 1.5em;
}

add#addLeft {
	left: 0;
}

add#addRight {
	right: 0;
}

add img {
	cursor: pointer;
}

dialog-hint {
	opacity: 0;
	position: absolute;
	z-index: 6;
	display: none;
	transition: all 0.2s ease-in;
	line-height: 1.5;
	color: black;
	padding: 1em;
}

dialog-hint.nopadding {
	padding: 0;
}

alert close {
	position: absolute;
	right: 0;
	top: 0;
	width: 6em;
	height: 2.75em;
	text-align: right;
	padding: 0.25em 0.75em;
	cursor: pointer;
	font-weight: bold;
	z-index: 1;
	color: rgba(0, 0, 0, 0.2);
}

previewHint {
	background: rgba(0, 0, 0, 0.05);
	display: inline-block;
	padding: 1em;
	border-radius: 0.5em;
	margin: 0.5em 0;
}

previewHint.image {
	position: absolute;
	left: 50%;
	margin-left: -10em;
	width: 20em;
}

previewHint.image {
	bottom: 3em;
}

hintAttributeEx {
	display: block;
	position: relative;
	font-size: 0.8em;
	line-height: 1.3;
	margin: 0.5em 0 1em 0;
	opacity: 0.5;
}

hintDelete {
	display: block;
	position: relative;
	font-size: 0.8em;
	line-height: 1.3;
	padding-left: 1em;
}

hintDelete::after {
	content: ' ';
	height: 2em;
	display: block;
	position: relative;
}

ol li {
	list-style-type: decimal;
}

subCatTitle {
	padding-top: 0.38em;
	margin-bottom: 0.5em;
	text-align: center;
	border-bottom: solid 0.06em rgba(255, 255, 255, 0.1);
	display: block;
}

homeHeader {
	position: relative;
	text-align: center;
	display: block;
	height: 40%;
}

homeHeader>svg {
	padding-top: 6%;
	max-height: 100%;
	cursor: pointer;
}

homeHeader svg {
	fill: var(--text);
}

homeHeader>text {
	margin: 0.5em;
	cursor: pointer;
	height: 3.5em;
	width: 3.5em;
	position: absolute;
	right: 0;
	top: 0;
	overflow: visible;
	font-size: 1.3em;
}

homeHeader>text name {
	max-width: 7em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	right: 0;
}

homeHeader>text img {
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

homeBody {
	position: relative;
	width: 100%;
	display: block;
	height: 60%;
	overflow: hidden;
}

homeBody teaser {
	position: absolute;
	width: 100%;
	left: 0;
	opacity: 0;
	transition: all 0.4s ease-out;
	height: 38%;
	display: block;
}

homeBody teaser div {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 2em 0.5em 0.5em 0.5em;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

homeBody teaser.contacts {
	top: 2em;
}

homeBody teaser.events {
	bottom: 2.2em;
}

homeBody teaser card {
	margin: 0 0.5em;
	border-radius: 1em;
	overflow: hidden;
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: 100%;
	color: white;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

homeBody teaser card img {
	height: 100%;
}

homeBody teaser card svg {
	height: 100%;
	padding: 1.6em;
	margin-top: -1.1em;
}

homeBody teaser card text {
	position: absolute;
	width: 100%;
	bottom: 0.25em;
	border-right: solid 0.5em transparent;
	border-left: solid 0.5em transparent;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2;
}

homeBody teaser title {
	margin-bottom: 0.25em;
	font-size: 1.3em;
	position: relative;
	z-index: 1;
}

home {
	z-index: 1;
}

main>marketing {
	display: none;
	z-index: 4;
}

content {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 4em;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: block;
}

content-admin-home {
	padding-left: 1em;
	padding-right: 1em;
}

content-admin-home,
content-admin-marketing,
content-admin-invoice {
	overflow-y: auto;
	padding-top: 0.5em;
}

groups {
	padding: 0 1em 1em 1em;
	display: block;
}

login registerHint {
	position: absolute;
	margin-right: 2%;
	width: 96%;
	right: 0;
	bottom: 4em;
	padding: 1em 0.5em;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	border-radius: 1em;
	transition: all 0.4s ease-out 0s;
	transform: scale(0);
	color: black;
}

login registerHint li {
	list-style-type: circle;
	margin-left: 1.85em;
}

listBody {
	text-align: center;
	position: absolute;
	top: 4em;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	transition: all 0.5s ease-out;
}

listTitle {
	line-height: 4em;
	padding-left: 1em;
}

.multipleLabel {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 0.25em 0.75em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	margin: 0.25em;
	color: rgba(0, 0, 0, 0.5);
}

li {
	list-style: none;
	padding-left: 0.25em;
	margin: 0.75em 0;
}

settings,
login {
	overflow-y: auto;
	overflow-x: hidden;
}

login {
	padding: 1em 0.5em 5em 0.5em;
}

info,
settings tabBody>div {
	padding-bottom: 2em;
}

settings tabBody>div:nth-child(3) {
	text-align: left;
}

settings {
	padding-top: 1em;
	z-index: 2;
}

settings save {
	position: absolute;
	font-size: 6em;
	opacity: 0.9;
	right: 0;
	bottom: 0.1em;
	display: none;
	filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.4));
	z-index: 1;
	height: 1em;
	width: 1em;
	line-height: 1;
}

settings paypalFees {
	display: block;
	padding-top: 2em;
	display: none;
}

settings genderSelectHint {
	left: -0.5em;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	right: -0.5em;
	top: 0.5em;
	bottom: -2em;
	color: white;
	padding: 3em;
	font-size: 1.3em;
	line-height: 1.8;
	display: none;
}

#info6 {
	margin-top: -0.5em;
	text-align: center;
}

search {
	padding-top: 1em;
}

search tabBody,
settings tabBody,
login tabBody {
	position: absolute;
	top: 3em;
	left: 0;
	width: 300%;
	bottom: 0em;
	transition: all 0.4s ease-out;
}

search tabBody>div,
settings tabBody>div,
login tabBody>form {
	overflow-y: auto;
	height: 100%;
	width: 33.3333%;
	float: left;
	overflow-x: hidden;
}

login tabBody>form {
	padding: 0 0.5em;
}

search form {
	padding: 0.5em 1em 0 1em;
	text-align: left;
}

search .locationPicker {
	position: absolute;
	max-width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
	right: 0;
	top: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	padding: 0.34em 0.75em;
	color: black;
	cursor: pointer;
	border-radius: 1em 0 0 1em;
	white-space: nowrap;
	left: initial;
	margin: 0;
}

settings explain {
	padding: 0 1.4em;
	text-align: left;
}

settings qrcodeDescription {
	margin-top: 3em;
	display: block;
	padding: 1em;
}

settings qrcode {
	display: block;
	position: relative;
}

search hashtagButton {
	top: 1.6em;
	right: 0.5em;
}

dialog-location-picker {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 6em;
	z-index: 1;
}

img.qrVerification {
	width: 20em;
	border-radius: 1em;
}

qrCheck {
	position: absolute;
	font-size: 10em;
	bottom: 1.2em;
	left: 50%;
	margin-left: 0.6em;
	color: green;
	filter: drop-shadow(0.04em 0.04em 0.04em rgba(0, 0, 0, 0.3));
}

qrCheck.negative {
	color: red;
}

.borderBottom {
	border-bottom: solid 1px rgba(200, 200, 200, 0.4);
}

#blocked {
	width: 100%;
	margin-left: 0;
}

#blocked>div {
	margin-bottom: 1em;
}

.chatLinks.pressed::before {
	display: block;
	content: '✓';
	position: absolute;
	right: 0;
	top: 0;
	font-weight: bold;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.3);
}

chat {
	z-index: 3;
}

chat listHeader svg,
chat listHeader img {
	position: relative;
	width: 4em;
	border-radius: 0 0 1em 0;
	box-shadow: 0 0 0.5em rgb(0, 0, 0, 0.3);
	margin-right: 0.4em;
}

chat listHeader svg {
	padding: 0.6em;
	fill: var(--navigation);
	vertical-align: middle;
}

chat .sendButton {
	margin: 0.5em;
}

listHeader {
	position: relative;
	z-index: 1;
	height: 4em;
	display: block;
	text-align: left;
}

listHeader chatName {
	position: relative;
	cursor: pointer;
	line-height: 4;
}

listHeader chatDate {
	position: absolute;
	right: 0.5em;
	line-height: 4;
}

listResults {
	display: inline-block;
	width: 100%;
}

chatList,
notificationList {
	position: absolute;
	bottom: 2.5em;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 6;
	max-height: 23em;
}

chatList {
	left: 0;
	padding-right: 0.5em;
}

notificationList {
	right: 0;
	padding-left: 0.5em;
}

chatList>div,
notificationList>div {
	height: 3.5em;
	margin: 0.5em 0;
	background: white;
	cursor: pointer;
	position: relative;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
	color: black;
	max-width: 95vw;
}

chatList>div {
	border-radius: 0 2em 2em 0;
}

notificationList>div {
	border-radius: 2em 0 0 2em;
}

chatList>div {
	width: 16em;
}

notificationList>div {
	width: 34em;
}

chatList>div>span,
notificationList>div>span {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5;
	height: 92%;
	width: 100%;
	left: 0;
}

chatList>div>span {
	padding: 0.3em 0.75em 0 3.9em;
}

notificationList>div>span {
	padding: 0.3em 3.75em 0 1em;
}

chatList>div>span {
	white-space: nowrap;
}

chatList img,
chatList svg.mainBG,
notificationList svg.mainBG,
notificationList img {
	position: absolute;
	height: 100%;
	box-shadow: 0 0 0.25em rgb(0, 0, 0, 0.3);
	margin-top: -0.25em;
}

chatList svg.mainBG,
chatList img {
	border-radius: 0 2em 2em 0;
}

notificationList svg,
notificationList img {
	border-radius: 2em 0 0 2em;
	right: 0;
}

chatList svg.mainBG,
notificationList svg.mainBG {
	padding: 0.6em;
}

chatList svg:not(.mainBG) {
	position: absolute;
	right: 1em;
	height: 1em;
	width: 1em;
	bottom: 0.5em;
}

chatList>div.unseen svg(.mainBG) {
	opacity: 0.3;
}

value.checkbox errorHint {
	margin-top: -0.5em;
}

noResult {
	line-height: 1.6;
	padding: 1em;
	display: block;
	margin: 1em 1em 5em 1em;
	border-radius: 0.5em;
}

@-moz-document url-prefix(http:),
url-prefix(https:) {

	scrollbar {
		-moz-appearance: none !important;
	}

	scrollbarbutton {
		-moz-appearance: none !important;
	}

	thumb {
		-moz-appearance: none !important;
	}

	scrollcorner {
		-moz-appearance: none !important;
		resize: both;
	}

	scrollbar[orient="vertical"] {
		color: silver;
	}
}

dialog-popup {
	position: absolute;
	z-index: 5;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em 1em 2em 1em;
	text-align: center;
	filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.4));
}

listSeparator {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	clear: both;
	height: 3em;
	line-height: 4em;
	display: block;
}

listSeparator.strong {
	font-weight: bold;
}

chatDateTitle {
	padding-top: 2em;
	position: relative;
	float: left;
	width: 100%;
	font-weight: bold;
}

chatMoreButton {
	position: absolute;
	top: -2.5em;
	right: 0;
	padding: 0.5em 1em;
	border-radius: 2em 0 0 2em;
	z-index: 2;
	display: block;
	font-size: 1.5em;
	background-color: rgba(220, 220, 220, 0.3);
	white-space: nowrap;
	transition: all .4s ease-out;
}

alert {
	position: absolute;
	top: 1em;
	right: 1em;
	left: 1em;
	text-align: center;
	z-index: 6;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
	color: black;
}

alert>div {
	z-index: 1;
	position: relative;
	padding: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

chatConversation {
	top: 4em;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	transition: opacity .4s;
}

emoji {
	height: 1em;
	display: inline-block;
	position: relative;
	font-size: 2em;
	top: 0.2em;
}

.newsLinks {
	display: block;
	height: 5em;
	overflow: hidden;
	white-space: nowrap;
	width: 6em;
	text-overflow: ellipsis;
	line-height: 1em;
	position: relative;
	left: 50%;
	margin-left: -3em;
	text-align: center;
	cursor: pointer;
}

.newsLinks img {
	height: 4em;
	border-radius: 2em;
	margin-bottom: -1.75em;
}

.newsLinks span {
	position: absolute;
}

.autoNewsImg {
	height: 3em !important;
	position: absolute;
	left: 50%;
	margin-left: 1em;
	top: -1em;
	z-index: 2;
}

.chatLinks {
	text-align: center;
	display: inline-block;
	white-space: nowrap;
	margin: 0 0.5em;
	cursor: pointer;
	position: relative;
}

chat .chatLinks {
	padding-top: 0.5em;
}

chatMessage {
	text-align: left;
	position: relative;
	float: left;
	clear: both;
	max-width: 100%;
	padding-top: 1em;
	display: block;
	width: 100%;
}

chatMessage.me .chatLinks {
	margin-right: 0.5em;
}

chatMessage .chatLinks {
	margin-left: 0.5em;
}

chatMessage .chatImg img {
	border-radius: 1em;
}

feedbackHint {
	margin-top: 1em;
	display: block;
}

chatMessage note {
	padding: 0.75em 1em;
	border-radius: 0 1.5em 1.5em 0;
	position: relative;
	max-width: 80%;
	float: left;
	box-sizing: initial;
	overflow: hidden;
	text-align: left;
	display: block;
	background: rgba(220, 240, 255, 0.8);
	color: black;
}

chatMessage.me note {
	background: rgba(255, 255, 255, 0.8);
	float: right;
	border-radius: 1.5em 0 0 1.5em;
}

chatMessage note img {
	max-width: 100%;
	position: relative;
}

chatMessage time {
	position: absolute;
	top: -0.2em;
	left: 1em;
	right: 1em;
	font-size: 0.8em;
}

chatMessage.me time {
	text-align: right;
}

chatMessage time {
	right: 1em;
}

.chatLinks img {
	border-radius: 2.4em;
	height: 4.8em;
}

.chatLinks.pressed::before {
	right: 0.4em;
	top: 0.5em;
}

.chatImg {
	margin-top: -4em;
	position: relative;
	border-radius: 1.5em !important;
	float: left;
	max-width: 100%;
}

.chatImg img {
	max-width: 100%;
	height: auto !important;
}

.chatImgPreview {
	max-width: 20em;
	max-height: 20em;
	border-radius: 1em;
}

.chatSendImgPrevHint {
	position: absolute;
	bottom: 4.5em;
	text-align: center;
	width: 100%;
	left: 0;
	text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

chatInput {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 0.5em;
	left: 0;
}

chatInput closeHint {
	position: absolute;
	top: -2em;
	opacity: 0.6;
	width: 100%;
	left: 0;
	display: none;
}

chatInput errorHint {
	position: absolute;
	bottom: 2.1em;
	margin-left: 0.75em;
}

chatInput textarea {
	border-radius: 1.5em 0 0 1.5em;
	margin: 0 0 0.5em 1em;
}

detailCompass,
detailDistance {
	width: 5em;
	height: 5em;
	padding-top: 2em;
	position: absolute;
	top: 1em;
	left: 50%;
	margin-left: -2.5em;
	opacity: 0.9;
	line-height: 1;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 2.5em;
}

detailCompass span {
	position: absolute;
	font-size: 4em;
	line-height: 1.2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.6;
}

detail detailDistance svg {
	height: 3em;
	position: absolute;
	left: 0;
	top: 1em;
	opacity: 0.3;
	width: 100%;
}

a:link,
a:visited {
	text-decoration: none;
}

form {
	position: relative;
	margin: 0;
	padding: 0;
}

detailTitle {
	position: relative;
	font-size: 1.3em;
	white-space: nowrap;
	padding: 0.5em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: black;
}

notifications {
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	overflow: hidden;
}

notifications listBody {
	padding: 0;
}

buttonIcon.right {
	top: 0.5em;
	right: 0.5em;
}

buttonIcon.statistics {
	top: 1em;
	left: 1em;
	font-size: 0.77em;
	padding: 1em;
}

buttonIcon.language {
	top: 0;
	right: 0;
	box-shadow: none;
	font-size: 1.4em;
	padding: 0.5em;
}

buttonIcon.language span {
	line-height: 1.5;
}

buttonIcon span {
	width: 2em;
	height: 2em;
	line-height: 2;
}

buttonIcon.jpg {
	padding: 0;
}

buttonIcon.jpg img {
	width: 2.6em;
	height: 2.6em;
	border-radius: 50%;
}

buttonIcon img,
buttonIcon svg {
	width: 2em;
	height: 2em;
	line-height: 2.2;
}

.appInput {
	text-align: center;
}

add button-text {
	text-align: center;
	margin: 1em 0 0 0;
}

.newsInDetail {
	padding: 1.5em 0.5em;
	border-bottom: solid 1px rgb(240, 240, 240);
	margin: 0 !important;
}

.newsInDetail a {
	position: relative;
	left: auto;
	margin-left: 0;
}

.newsInDetail .newsSmily {
	bottom: -1em;
	left: 50%;
	margin-left: -5.5em;
}

homeImage img {
	height: 100%;
}

list-row {
	position: relative;
	height: 7.3em;
	display: block;
	overflow: hidden;
	transition: all 0.4s ease-out;
}

detail .authenticated detailImg::after,
detail .participate .date::after,
detail .canceled .date::after {
	margin-left: 1em;
	position: absolute;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6;
	border-radius: 0.8em;
}

detail .authenticated detailImg::after,
detail .participate .date::after {
	content: '✓';
	background: green;
}

detail .authenticated detailImg::after {
	right: 0.25em;
	bottom: 2.5em;
}

detail .canceled .date::after {
	content: '✗';
	background: red;
}

detail row.participate::before,
detail row.canceled::before {
	text-align: right;
	top: 0.2em;
}

.itemTitle,
.itemTitle div {
	overflow: hidden;
	text-overflow: ellipsis;
}

.itemTitle {
	height: 5.1em;
	margin-left: 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.7;
}

chatButtons {
	padding: 0.5em 1em;
	white-space: nowrap;
	overflow-x: auto;
	display: block;
}

.eventMargin {
	margin: 0.5em 0;
}

eventOutdated {
	opacity: 0.4;
}

title {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

subtitle {
	font-size: 0.5em;
	left: 0;
	position: absolute;
	opacity: 0.6;
	bottom: 0.2em;
	line-height: 1;
}

map {
	height: 20em;
	overflow: hidden;
	position: relative;
	display: block;
	box-shadow: 0 0 1em rgb(0, 0, 0, 0.3);
}

img.map {
	width: 100%;
	position: relative;
	cursor: pointer;
	border-radius: 0.5em;
	margin: 1em 0;
	box-shadow: 0 0 1em rgb(0, 0, 0, 0.3);
}

img {
	border: none;
	vertical-align: middle;
}

text {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 0.5em;
}

text.description {
	margin: 1em -1em;
	padding: 1em;
	background: rgba(100, 230, 255, 0.08);
}

text.description.event {
	padding: 0.5em 1em 0 1em;
}

text.popup {
	position: absolute;
	max-width: 90%;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 1em rgb(0, 0, 0, 0.3);
	color: black;
	z-index: 1;
}

text.popup>div {
	margin: 0.5em;
}

text.collapsed {
	display: none;
}

detail detailTogglePanel {
	display: block;
	margin: 0.5em;
}

detail {
	z-index: 3;
	stroke: var(--text);
	fill: var(--text);
}

detail>div {
	display: flex;
	overflow-x: hidden;
	transition: all 0.5s ease-out 0s;
	height: 100%;
}

detail card {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1em 1em 6em 1em;
	height: 100%;
	width: 100%;
	position: relative;
}

detail detailButtons {
	padding: 1em;
	white-space: nowrap;
	overflow-x: auto;
	display: block;
	margin: 0 -1em;
}

detail detailButtons buttonIcon {
	position: relative;
}

detail detailHeader {
	display: flex;
	margin-bottom: 1em;
	position: relative;
}

detail detailImg {
	width: 100%;
	padding: 0.75em 0.75em 0 0.75em;
	background: white;
	border-radius: 0.5em;
	box-shadow: 0 0 1em rgb(0, 0, 0, 0.3);
}

detail detailImg img {
	width: 100%;
	border-radius: 0.25em;
}

detail>div>text.highlightBackground {
	padding: 0.5em 1em;
	display: inline-block;
	color: black;
}

detail text.matchIndicatorAttributesHint {
	left: 50%;
	width: 16em;
	margin-left: -8em;
}

detail matchIndicatorHint {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}

detail matchIndicatorHint span {
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.5em;
}

detail matchIndicatorHint label {
	color: black !important;
	margin: 0 !important;
	left: 0;
}

detail>img.present {
	position: absolute;
	z-index: 2;
	left: -0.5em;
	margin-top: -0.5em;
	height: 4em;
}

detail detailHeader action {
	width: 20%;
	position: relative;
	padding-left: 1em;
}

detail detailHeader matchIndicator {
	position: absolute;
	height: 5em;
	bottom: 3em;
	width: 5em;
	left: 50%;
	margin-left: -2.5em;
	cursor: pointer;
}

detail detailHeader matchIndicator svg {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 2.5em;
}

detail detailHeader matchIndicator svg .circle-bg {
	fill: none;
	stroke: white;
	opacity: 0.6;
	stroke-width: 3.8;
}

detail detailHeader matchIndicator svg .circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
	stroke: var(--bg2stop);
}

detail detailHeader matchIndicator svg .percentage {
	font-size: 0.5em;
	text-anchor: middle;
	font-family: Comfortaa;
	fill: white;
	stroke: transparent;
}

detail detailHeader matchIndicator span {
	width: 3em;
	height: 3em;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -1em;
	border-radius: 2em;
	border: solid 0.75em rgba(255, 255, 255, 0.3);
}

detail detailHeader .fade {
	opacity: 0.15;
}

detail text.list {
	padding: 0;
	margin: 0 -1em;
}

detail urls label {
	color: var(--bg1start) !important;
}

progressbar {
	position: absolute;
	left: 0;
	top: 0;
	right: 1em;
	z-index: 5;
	height: 0.75em;
}

video-call {
	background: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 7;
}


.highlightBackground {
	background: var(--bg3stop) !important;
}

.highlightMap::before {
	content: '⇧';
	position: absolute;
	right: 50%;
	margin-right: -0.75em;
	top: 0.7em;
	opacity: 0.25;
	font-size: 5em;
	color: var(--bg2stop);
}

info {
	text-align: left !important;
	overflow-y: auto;
}

skills {
	display: inline-block;
	padding: 0.5em 0;
}

skills label.multipleLabel {
	color: black;
}

.skillsFade {
	opacity: 0.2;
}

infoblock {
	position: relative;
	width: 96%;
	display: block;
	background: rgba(0, 0, 0, 0.1);
	border: solid 1em transparent;
	border-radius: 0.5em;
	margin: -0.5em 0 1em 2%;
}

infoblock.overflow {
	max-height: 30em;
	overflow-y: auto;
	overflow-wrap: break-word;
}

#feedbackText {
	height: 10em;
	width: 96%;
	z-index: 0;
	padding-top: 1em;
}

info subject {
	font-weight: bold;
	display: block;
	padding: 1em 0 0.5em 0;
}

dialog-menu {
	border-radius: 1em 0 0 1em;
	box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
	background: var(--bg3stop);
	position: absolute;
	top: 4em;
	z-index: 4;
	right: 0;
	padding: 1.25em 2em;
	transition: all .4s ease-out;
	transform-origin: top right;
}

@keyframes popupSlideIn {
	0% {
		transform: rotate3d(0, 0, 1, 90deg);
	}

	100% {
		transform: none;
	}
}

.popupSlideIn {
	transform-origin: right top;
	animation-name: popupSlideIn;
}

@keyframes popupSlideOut {
	0% {
		transform: none;
	}

	100% {
		transform: rotate3d(0, 0, 1, -90deg);
	}
}

.popupSlideOut {
	transform-origin: right top;
	animation-name: popupSlideOut;
}

.detailSlideIn {
	transform: translate3d(100%, 0, 0);
}

@keyframes detailSlideOut {
	0% {
		transform: none;
	}

	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

.detailSlideOut {
	animation-name: detailSlideOut;
}

.detailBackSlideIn {
	transform: translate3d(-100%, 0, 0);
}

@keyframes detailBackSlideOut {
	0% {
		transform: none;
	}

	100% {
		transform: translate3d(100%, 0, 0);
	}
}

.detailBackSlideOut {
	animation-name: detailBackSlideOut;
}

@keyframes slideUp {
	0% {
		transform: none;
	}

	100% {
		transform: translate3d(0, -100%, 0);
	}
}

.slideUp {
	animation-name: slideUp;
}

@keyframes slideDown {
	0% {
		transform: translate3d(0, -100%, 0);
	}

	100% {
		transform: none;
	}
}

.slideDown {
	animation-name: slideDown;
}

.animated {
	animation-duration: 0.5s;
}

progressbar>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	animation-name: progressbarBalls;
	animation-duration: 2.9s;
	animation-iteration-count: infinite;
}

progressbar ball1 {
	animation-delay: 0s;
}

progressbar ball2 {
	animation-delay: 0.29s;
}

progressbar ball3 {
	animation-delay: 0.58s;
}

progressbar ball4 {
	animation-delay: 0.87s;
}

@keyframes progressbarBalls {
	0% {
		left: 0;
	}

	50% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}